*-init.clj
*.class
*.jar
*.log
.DS_Store
.cljs_node_repl/
.cpcache/
.hg/
.hgignore
.idea
.nrepl-port
.rebel_readline_history
.shadow-cljs/
/.lein-*
/.nrepl-port
/checkouts
/classes
/target
node_modules/
out
pom.xml
pom.xml.asc
public/css/screen.css
public/js/compiled
target
tmp/
