{:deps {:aliases [:nrepl :cljs]}

 :source-paths ["src" "test"]

 :nrepl {:port 4001
         :middleware
         [cider-nrepl.plugin/middleware
          refactor-nrepl.middleware/wrap-refactor]}

 :builds
 {:app {:target          :browser
        :modules         {:main {:entries [fullstack.ui.core]}}
        :output-dir      "public/js/compiled"
        :asset-path      "/js/compiled"
        :closure-defines {}
        :devtools
        {:http-root   "public"
         :http-port   4000
         :loader-mode :eval
         :after-load  fullstack.ui.core/mount-root
         :preloads    [devtools.preload]}}

  :devcards
  {:target           :browser
   :output-dir       "public/js/devcards"
   :asset-path       "/js/devcards"
   :modules          {:main {:entries [fullstack.ui.devcards]}}
   :js-options
   {:resolve
    {"react"     {:export-globals ["React"]}
     "react-dom" {:export-globals ["ReactDOM"]}}}
   :devtools         {:http-port        4002
                      :http-root        "public"
                      :http-handler     shadow.http.push-state/handle
                      :push-state/index "devcards.html"
                      :after-load       fullstack.ui.devcards/main
                      :repl-pprint      true}
   :compiler-options {:devcards true}}
  }}
